//font-size
$fz: 22px;
$fz10: $fz - 12px;
$fz12: $fz - 10px;
$fz16: $fz - 6px;
$fz18: $fz - 4px;
$fz20: $fz - 2px;
$fz28: $fz + 2px;
$fz32: $fz + 10px;
$fz80: $fz + 58px;
//colors
$black: #000000;
$white: #FFFFFF;
$gold: #9d8665;
$red: #710707;
$bgdark: #030303;
$unvisited: #D2B183;
//containers
$xxl: 1440px;

