@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url('PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg'),
       url('PlayfairDisplay-Regular.ttf') format('truetype'),
       url('PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay-VariableFont_wght';
  src: url('PlayfairDisplay-VariableFont_wght.eot');
  src: url('PlayfairDisplay-VariableFont_wght.eot?#iefix') format('embedded-opentype'),
       url('PlayfairDisplay-VariableFont_wght.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

