@font-face {
  font-family: 'Fredoka-Regular';
  src: url('Fredoka-Regular.eot');
  src: url('Fredoka-Regular.eot?#iefix') format('embedded-opentype'),
       url('Fredoka-Regular.svg#Fredoka-Regular') format('svg'),
       url('Fredoka-Regular.ttf') format('truetype'),
       url('Fredoka-Regular.woff') format('woff'),
       url('Fredoka-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

